body {
    font-size: 1.25rem;
    font-weight: 300;
}

h1 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

#start-container {
    text-align: center;
}

button {
    padding: 2%;
    line-height: 1.2;
    border-radius: 5px;
}

@media screen and (max-width: 960px) {
    #start-container {
        /*/margin-left: 40%;*/
    }
}